body {
    color: #262B33;
    width: 100%;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif!important;
    background: #FFF;
    position: relative;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-hero {
    background: url(../images/main/main-bg.jpg) no-repeat center 30% / cover;
    color: #FFF;
    position: relative;
    height: 100vh;
}

.home-hero__wrap {
    padding-top: 170px;
    padding-bottom: 210px;
}

.home-hero__heading {
    font-size: 111px;
    line-height: 1.2;
    font-weight: bolder;
    margin: 0;
}
.home-hero__descr {
    font-size: 71px;
    font-weight: lighter;
    margin: 0;
}

.home-hero__nav {
    transform: rotate(90deg) translateY(-234px) translateX(-118px);
    float: right;
}

.home-hero__nav a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}
.home-hero__nav a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: width 0.5s ease-out;
}
.home-hero__nav a:hover,
.home-hero__nav a:visited:hover:after {
    color: #0C21D6;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background: #0C21D6;
    font-weight: normal;
    transition: background-color 0.15s;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 1.75em;
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.btn--category {
    background: #FFCDD2;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, img, ins, kbd, samp, var, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, main, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.main-block {
    padding-top: 25px;
    padding-bottom: 50px;
    flex-grow: 1;
}

.block-update {
    width: 51%;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.08);
    padding: 35px;
    margin-right: auto;
    margin-left: auto;
}

.block-update__info {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

.block-update__input {
    height: 50px;
    border: 1px solid rgb(177, 176, 176);
    width: 100%;
    margin: 5px 0 20px;
    font-size: 14px;
    color: #000;
    padding: 9px 10px;
}

.block-update__input:visited, .block-update__input:hover {
    border: 1px solid #7686de;
}

.block-update__input:nth-child(5) {
    weight: 25%;
}

.user-login__block, .registration__block {
    display: flex;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.08);
    padding: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.user-login, .registration {
    width: 100%;
    float: left;
}

.user-login__label, .registration__label {
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    clear: both;
    display: flex;
    border: 1px solid #7686de;
    position: relative;
    margin-bottom: 25px;
    color: #0C21D6;
    padding-left: 20px;
}

.user-login__label span, .registration__label span {
    float: left;
    padding: 0 0 0 1em;
    white-space: nowrap;
}

.input {
    font-weight: 400;
    float: left;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    flex: 1;
    min-width: 0;
    background: transparent;
    padding: 0 1em;
}

input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"], select {
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    outline:none;
}

.user-login__label:focus-within, .registration__label:focus-within {
    border: 1px solid #ffb000;
}

input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"], textarea, select {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    appearance: none;
}

.registration {
    color: #7686de;
    font-size: 16px;
    padding-bottom: 20px;
}

.block-update__descr {
    border: 1px solid rgb(177, 176, 176);
    width: 100%;
    resize: none;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 12px;
}

.block-update__descr:visited, .block-update__descr:hover {
    border: 1px solid #7686de;
}


.user-login__button, .registration__button {
    width: 100%;
    height: 52px;
    padding: 0 10px;
    cursor: pointer;
    background-color: #0c21d6;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.26));
    margin-bottom: 25px;
    color: #fff;
}

.user-login__button-label, .registration__button-label {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.info {
    font-size: 18px;
    line-height: 1.5;
    color: #4f4e4e;
}

.info p {
    margin-bottom: 20px;
}

.info h2 {
    font-size: 29px;
    font-weight: 600;
    color: #0c21d6;
    margin-bottom: 20px;
}

.info a {
    color: #7686de;
    text-decoration: none;
}