<!DOCTYPE html>
<html lang="ru">
    {% with title="О нас" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="О нас" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block">
            <div class="wrapper">
                <div class="info">
                    <p>Мы, LoveLy.com, стремимся предоставить огромный ассортимент продуктов с помощью нашей простой и удобной в использовании платформы. Наш веб-сайт предназначен для предоставления нашим уважаемым пользователям всей необходимой информации, чтобы найти лучшие предложения. Затем мы предлагаем широкий спектр предложений, которые помогут вам сравнить каждый из них и получить дополнительную выгоду.</p>

                    <h2>Наша миссия</h2>
                    <p>Самое главное - выкинуть всех из воды с помощью нашего обслуживания клиентов и обширной линейки продуктов и услуг. Тем не менее, мы знаем, что мы скромное сообщество, и потребуется время для создания нашего бренда. Первым шагом в нашем путешествии является создание отличной клиентской базы, основанной на прочных отношениях, чтобы мы могли постепенно и неуклонно расти в одного из больших мальчиков.</p>

                    <h2>Ценности команды</h2>
                    <p>Мы твердо верим, что умный клиент - это счастливый клиент.</p>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>
