<!DOCTYPE html>
<html lang="ru">
    {% with title="Администратор" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Для админа" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block">
            <div class="wrapper">
                <form action="/api/mutate_product" method="POST" enctype="multipart/form-data" class="block-update">
                    <div class="goods-out">
                        <select id="id-prod" class="select-goods">
                            <option data-id="0">Новый товар</option>
                            {% for product in products %}
                                <option for="product" data-id="{{ product.id }}" value="{{ product.id }}" class="option">{{ product.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="name" class="block-update__info">Имя:<input name="name" class="block-update__input" type="text" id="name"></label>
                    <label for="cost" class="block-update__info">Стоимость:<input name="cost" class="block-update__input" type="number" id="cost"></label>
                    <label for="img" class="block-update__info">Изображение:<input name="img" class="block-update__input" type="file" id="img"></label>
                    <label for="category" class="block-update__info">Категория:
                        <select name="category" class="block-update__input">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="description" class="block-update__info">Описание:<textarea name="description" class="block-update__input" id="description"></textarea></label>
                    <button id="submit" class="btn btn-update">Обновить</button>
                </form>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/admin.js") }}></script>
    </body>
</html>
