<!DOCTYPE html>
<html lang="ru">
    {% with title="Корзина" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Корзина" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block main-block--cart">
            <div class="wrapper">
                <div class="wrapper__one">
                    <div class="main-cart">
                        {% for product in products %}
                            <div class="cart-basket">
                                <div class="cart-basket--img">
                                    <a href="/product/{{ product.id }}"><img src={{ url_for("static", filename="images/" + product.img) }} title="Product-img"></a>
                                </div>
                                <div class="cart-basket--info">
                                    <div class="cart-basket--name">
                                        <a href="/product/{{ product.id }}" class="name">{{ product.name }}</a>
                                        <button data-id="{{ product.id }}" class="btn--delete del-goods">x</button>
                                    </div>
                                    <div class="cart-basket--cost">
                                        <div class="cost">{{ product.cost }}</div>
                                        <div class="cart-basket--operation">
                                            <button data-id="{{ product.id }}" class="btn--operation decrease-product-quantity">-</button>
                                            <div class="quantity-num">{{ product.quantity }}</div>
                                            <button data-id="{{ product.id }}" class="btn--operation increase-product-quantity">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="wrapper__two">
                    <div class="itogo">
                        <div class="itogo-block">
                            <h1 class="itogo-block__heading">Cумма заказа:</h1>
                            <div class="cost-good"></div>
                            <button class="btn btn-zakaz">Оформить заказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/cart.js") }}></script>
    </body>
</html>
