<!DOCTYPE html>
<html lang="ru">
    {% with title="Контакты" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Связаться с нами" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block">
            <div class="wrapper">
                <div class="info">
                    <p>Чтобы помочь нам на нашем пути, вы можете быть более полезными, чем вы думаете! Мы хотели бы услышать от вас и любые отзывы очень ценится. Если у вас есть какие-либо вопросы или трудности, пожалуйста, не стесняйтесь связаться с нами через наши контактные формы. После отправки формы наша команда свяжется с вами как можно быстрее.</p>
                    <h2>Наш электронный адрес</h2>
                    <p>lovelymeg346@gmail.com</p>
                    <h2>Жалобы</h2>
                    <p>То же самое происходит, если у вас есть отрицательный отзыв. Хотя не так легко услышать, это так же важно, если мы хотим достичь нашей цели. Если у вас есть какие-либо проблемы, заполните контактную форму, и наша команда свяжется с вами, как только мы сможем. Мы не можем учиться и совершенствоваться, если не знаем, что делаем неправильно.</p>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>
