<div class="wrapper header__wrap">
    <div class="header__logo">
        <a href="/index"><img src={{ url_for("static", filename="images/main/logo.svg") }}></a>
    </div>
    <nav class="header__nav">
        {% if is_admin %}
            <a href="/admin"><div class="title-admin btn">Администратор</div></a>
        {% endif %}
        <div class="header__right">
            <a href="/products" class="btn btn--category">Товары</a>
        </div>
        <a href="/cart"><img src={{ url_for("static", filename="images/main/basket.svg") }}></a>
        <div class="header__right">
        {% if current_user.is_authenticated %}
            <a id="logout" class="btn">Выход</a>
        {% else %}
            <a href="/login" class="btn">Вход</a>
        {% endif %}
        </div>
    </nav>
</div>

{% if bla %}
    <div class="title__block">
        <div class="wrapper">
            <h1>{{ bla }}</h1>
        </div>
    </div>
{% endif %}
