<!DOCTYPE html>
<html lang="ru">
    {% with title="LoveLy" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-home">
        <section class="home-hero">
            <header class="header">
                {% include "header.html" %}
            </header>
            <div class="wrapper home-hero__wrap">
                <h1 class="home-hero__heading"> Красота </h1>
                <p class="home-hero__descr"> вокруг - и внутри каждой </p>

                <div class="home-hero__nav">
                    <a href="/partners">Наши партнёры</a>
                    <a href="/about-us">О нас</a>
                    <a href="/contact-us">Свяжитесь с нами</a>
                </div>
            </div>
        </section>
        <main>

        </main>
        <footer></footer>

        <script src={{ url_for("static", filename="libs/jquery-3.2.1.min.js") }}></script>
    </body>
</html>
