<!DOCTYPE html>
<html lang="ru">
    {% with title="LoveLy" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-home">
        <section class="home-hero">
            <header class="header">
                {% include "header.html" %}
            </header>
            <div class="wrapper home-hero__wrap">
                <h1 class="home-hero__heading"> Красота </h1>
                <p class="home-hero__descr"> вокруг - и внутри каждой </p>

                <div class="home-hero__nav">
                    <a href="/partners">Наши партнёры</a>
                    <a href="/about_us">О нас</a>
                    <a href="/contact_us">Свяжитесь с нами</a>
                </div>
            </div>
        </section>
        {% with hidden=True %}
            {% include "footer.html" %}
        {% endwith %}
    </body>
</html>
