<!DOCTYPE html>
<html lang="ru">
    {% with title="eshop" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-home">
        <section class="home-hero">
            <header class="header">
                {% include "header.html" %}
            </header>
            <div class="wrapper home-hero__wrap">
                <h1 class="home-hero__heading"> Красота </h1>
                <p class="home-hero__descr"> вокруг - и внутри каждой </p>

                <div class="home-hero__nav">
                <a href="#">Наши партнёры</a>
                <a href="#">О нас</a>
                <a href="#">Социальные сети</a>
                </div>
            </div>
        </section>
        <main>
            <!-- <a href="cart">Корзина</a>
            <div class="mini-cart"></div>
            <a href="later.php">Желания</a>
            <div class="goods-out"></div> -->
        </main>
        <footer></footer>

        <script src={{ url_for("static", filename="libs/jquery-3.2.1.min.js") }}></script>
    </body>
</html>
