<!DOCTYPE html>
<html lang="ru">
    {% with title="Вход" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Вход" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block">
            <div class="wrapper">
                <div class="user-login__block">
                    <div class="user-login">
                        <label for="login" class="user-login__label">Логин<input id="login" name="login" class="input" type="text"></label>
                        <label for="password" class="user-login__label">Пароль<input id="password" name="password" class="input" type="password"></label>
                        <button id="submit" type="submit" class="user-login__button">Войти</button>
                        <a href="/signup" class="registration">Вы еще не зарегистрировались?</a>
                        <input class="custom-checkbox" type="checkbox" checked="checked" id="check"/>
                        <label class="user-login__remember-me" for="check">Запомнить меня</label>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/login.js") }}></script>
    </body>
</html>
