<!DOCTYPE html>
<html lang="ru">
    {% with title="Все товары" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Категории" %}
                {% include "header.html" %}
            {% endwith %}
        </header>

        <main class="main-block">
            <div class="wrapper">
                <div class="category__block">
                    <a href="/products/hair" class="category__item">
                        <img src={{ url_for("static", filename="images/main/hair.jpg") }}>
                        <div class="category__name">Волосы</div>
                    </a>
                    <a href="/products/body" class="category__item">
                        <img src={{ url_for("static", filename="images/main/body.jpg") }}>
                        <div class="category__name">Тело</div>
                    </a>
                    <a href="/products/nails" class="category__item">
                        <img src={{ url_for("static", filename="images/main/manik.jpg") }}>
                        <div class="category__name">Ногти</div>
                    </a>
                    <a href="/products/face" class="category__item">
                        <img src={{ url_for("static", filename="images/main/cosmetic.jpg") }}>
                        <div class="category__name">Лицо</div>
                    </a>
                </div>
            </div>
            <div class="title__block-block">
                <div class="wrapper"><h1>Товары</h1></div>
            </div>
            <div class="wrapper">
                <div class="goods-out">
                    {% for card in cards %}
                        <div class="cart">
                            <div class="cart__wrap">
                                <div class="cart__img">
                                    <a href="product/{{ card.id }}"><img src={{ url_for("static", filename="images/" + card.img) }}></a>
                                </div>
                                <div class="cart__info">
                                    <p class="name"><a href="product/{{ card.id }}">{{ card.name }}</a></p>
                                </div>
                                <div class="cart__descr">{{ card.description }}</div>
                                <div class="cart__info">
                                    <div class="cost">{{ card.cost }}</div>
                                    <button class="add-to-cart btn" data-id="{{ card.id }}">Купить</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- <a href="cart.php">Корзина</a>
            <div class="mini-cart"></div>
            <a href="later.php">Желания</a>
            <div class="goods-out"></div> -->
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/main.js") }}></script>
    </body>
</html>
