<!DOCTYPE html>
<html lang="ru">
    {% with title="Все товары" %}
        {% include "head.html" %}
    {% endwith %}

    <body class="page-info">
        <header class="header-goods">
            {% with bla="Категории" %}
                {% include "header.html" %}
            {% endwith %}
        </header>

        <main class="main-block">
            <div class="wrapper">
                <!-- <div class="mini-cart"></div> -->

                <!-- <div class="cart">
                <p class="name">Цветы</p>
                <img src="images/grape.png" alt="">
                <div class="cost">500</div>
                <button class="add-to-cart">Купить</button>
                </div> -->
                <div class="goods-out">
                    <div class="cart">
                        <p class="name">{{ product.name }}</p>
                        <img src={{ url_for("static", filename="images/" + product.img) }}>
                        <div class="cost">{{ product.cost }}</div>
                        <button class="add-to-cart" data-id="{{ product.id }}">Купить</button>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/main.js") }}></script>
    </body>
</html>
