<!DOCTYPE html>
<html lang="ru">
    {% with title="Все товары" %}
        {% include "head.html" %}
    {% endwith %}

    <body class="page-info">
        <header class="header-goods">
            {% with bla="Товар" %}
                {% include "header.html" %}
            {% endwith %}
        </header>

        <main class="main-block">
            <div class="wrapper">
                <div class="goods-out">
                    <div class="cart-product">
                         <div class="cart__wrap-product">
                             <div class="cart__img">
                                 <img src={{ url_for("static", filename="images/" + product.img) }} title="Product-img">
                             </div>
                             <div class="cart__info">
                                 <p class="name">{{ product.name }}</p>
                             </div>
                             <div class="cart__description">{{ product.description }}</div>
                             <div class="cart__info">
                                 <div class="cost">{{ product.cost }} &#8381;</div>
                                 <button class="add-to-cart btn" data-id="{{ product.id }}">Купить</button>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/main.js") }}></script>
    </body>
</html>
