<!DOCTYPE html>
<html lang="ru">
    {% with title="Регистрация" %}
        {% include "head.html" %}
    {% endwith %}
    <body class="page-info">
        <header class="header-goods">
            {% with bla="Регистрация" %}
                {% include "header.html" %}
            {% endwith %}
        </header>
        <main class="main-block">
            <div class="wrapper">
                <div class="registration__block">
                    <div class="user-login">
                        <label for="name" class="registration__label">Имя<input id="name" name="name" class="input" type="text"></label>
                        <label for="login" class="registration__label">Логин<input id="login" name="login" class="input" type="text"></label>
                        <label for="password" class="registration__label">Пароль<input id="password" name="password" class="input" type="password"></label>
                        <label for="email" class="registration__label">Почта<input id="email" name="email" class="input" type="email"></label>
                        <p id="err_msg" style="display: none"></p>
                        <button id="submit" class="registration__button registration__button-label">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <script src={{ url_for("static", filename="js/signup.js") }}></script>
    </body>
</html>
